div.wrapper {
  border: 2px solid red
}

div.title {
  padding: 10px;
  font-weight: bold;
}

div.message {
  font-weight: bold;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

div.content {
  padding: 10px;
}

div.action {
  padding: 10px 0 0;
}

button {
  margin: 0;
}
