div.wrapper {
  padding: 5px;
  border: 2px solid black
}

div.title {
  padding: 10px 0 0 10px;
  font-weight: bold;
}

span.value {
  font-weight: bold;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  width: 55px;
  display: inline-block;
  text-align: center;
}

div.content {
  padding: 10px 10px 0;
}
